.chess-board {  
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
}

.chess-container {
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.side-numbers {
  width: 50px;
  height: 50px;
  align-self: center;
  text-align: center;
}

.bottom-letters{
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-square,
.number-square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.chess-square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.bg-white {
  background-color: #f0d9b5;
}

.bg-black {
  background-color: #b58863;
}

.flipped {
  transform: rotate(180deg);
}

.selected {
  background-color: aqua;
}

